body{
    background: url(/image/wallpapersden.com_spongebob-near-sunset_1920x1080.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: serif;
}

.glassy-form{
    width: 400px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0,0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #fff;
    justify-items: center;
}

.glassy-form h2{
    text-align: center;
    margin-bottom: 20px;
}

.glassy-form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: rgba(31, 226, 13, 0.7);
    color: #fff;
    cursor: pointer;

}
.glassy-form button{
    width: 100%;
    padding:10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: rgba(226, 250, 14, 0.7);
    color: #fff;
    cursor: pointer;
    justify-items: center;
}

.glassy-form button:hover{
    background-color: rgb(0, 255, 0)
}